{% extends 'mainapp/base.html' %}

{% load static %}

{% block body %}
<section id="header" class="mx-4">
    <div class="container h-100">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="text-center text-wrap">Get In Touch</h1>
           <h2> Phone </h2>
            <p> 603-724-1451 </p>
            <h2> Address </h2>
            <p> Union City, NJ </p>
            <h2> Email </h2>
            <p> We're setting up email now. Please call or text.</p>
        </div>
      </div>
  </div>
</section>

{% endblock %}


{% block updateActive %}
   <script>
    $(document).ready(function() {
            var currentPage= $( "#about_page_nav_item" );    
            .addClass( "active" );
        });
    </script>
{% endblock %}
