{% extends 'mainapp/base.html' %}

{% load static %}

{% block body %}

<section id="header" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center text-white">
        <h1 class="text-center text-wrap display-1">Get In Touch</h1>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="display-3">Call or Text!</h2>
        <h2 class="display-3">551-300-9323</h2>
        <p class="display-3">We're located right in front of Union City High School</p>
      </div>
    </div>
  </div>
</section>



{% endblock %}


{% block updateActive %}
   <script>
    $(document).ready(function() {
            var currentPage= $( "#about_page_nav_item" );    
            .addClass( "active" );
        });
    </script>
{% endblock %}
