{% extends 'mainapp/base.html' %}

{% load static %}

{% block body %}
<section id="header" class="mx-4">
    <div class="container h-100">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="text-center text-wrap">J.Cienfuegos & Sons Exotic Species</h1>
          <a href="#" class="btn btn-outline-secondary btn-lg text-white"> <i class="fas fa-arrow-right"></i>Read More</a>
        </div>
        <div class="col-lg-6 text-center h-100 mt-5">
          <img src="{% static 'mainapp/img/mantis/mantis.png' %}" alt="image" class="h-75 img-fluid d-none d-lg-inline-block showcaseForeground">
        </div>
      </div>
  </div>
</section>

{% endblock %}

