{% extends 'mainapp/base.html' %}

{% load static %}

{% block body %}
<section id="header" class="mx-4">
    <div class="container">

     <div class="row">
        <div class="col-12">
            <h1>Tomatoes In Stock</h1>
            <p> You won't find tomatoes like OURS in the store. They are special. </p>
            <p>Tomato plants can be hard to grow. They are prone to various diseases such as root rot, damping off, and fusarium wilt. When you buy a plant from us, you don't need to waste time with thishard work of turning a seeling into a mature plant.We'll give you a big healthy plant that's almost sure to give you a huge harvest. We grow the finest seeds in quality potting media. We also graft tomatoes that are known to be disease prone.</p> 
        </div>
     </div>


      <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <img src="{% static 'mainapp/img/tomato/teaspoon.png' %}" alt="image" class="card-img-top">
                <div class="card-header">
                Teaspoon Tomato
                </div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Our Pride and Joy</h5>
                    <p class="card-text">This is the coolest tomato and you've probably never seen one before. The tomatoes are smaller than blueberries and there are TONS of them on each plant. A delicious, sweet tomato. Sure to impress the guests in your home. This plant grows great in the garden or even on your fire escape. It's a huge, sprawling plant absolutely covered in small delicious tomatoes.</p>
              </div>
            </div>
        </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <img src="{% static 'mainapp/img/tomato/nate_and_tomato.jpg' %}" alt="image" class="card-img-top">
                <div class="card-header">
                Tiny Yellow
                </div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Toddler for Scale</h5>
                    <p class="card-text">Tiny determinate tomato plant. Not taller than a foot. A cute little bush that produces tons of tomatoes! This is a perfect gift, a wonderful plant to leave on your desk, a nice plant for the windowsill. A really wonderful plant to keep or gift, and the tomatoes are delicious .</p>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-6 text-center">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <img src="{% static 'mainapp/img/mantis/mantis.png' %}" alt="image" class="card-img-top">
                <div class="card-header">Black Beauty</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Beautiful Exotic Tomato</h5>
                    <p class="card-text">Deep purple, almost black skinned tomatoes. Could be the most delicious tomato ever grown. You've never seen or tasted a tomato like this before. You won't find it in stores.</p>
              </div>
            </div>
        </div>
    </div>
  </div>
</section>

{% endblock %}


{% block updateActive %}
   <script>
    $(document).ready(function() {
            var currentPage= $( "#peppers_page_nav_item" );    
            .addClass( "active" );
        });
    </script>
{% endblock %}
